@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Bold.eot');
  src: url('./assets/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Roboto-Bold.woff2') format('woff2'),
      url('./assets/fonts/Roboto-Bold.woff') format('woff'),
      url('./assets/fonts/Roboto-Bold.ttf') format('truetype'),
      url('./assets/fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pokemon Solid';
  src: url('./assets/fonts/PokemonSolidNormal.eot');
  src: url('./assets/fonts/PokemonSolidNormal.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/PokemonSolidNormal.woff2') format('woff2'),
      url('./assets/fonts/PokemonSolidNormal.woff') format('woff'),
      url('./assets/fonts/PokemonSolidNormal.ttf') format('truetype'),
      url('./assets/fonts/PokemonSolidNormal.svg#PokemonSolidNormal') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Medium.eot');
  src: url('./assets/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Roboto-Medium.woff2') format('woff2'),
      url('./assets/fonts/Roboto-Medium.woff') format('woff'),
      url('./assets/fonts/Roboto-Medium.ttf') format('truetype'),
      url('./assets/fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pokemon Hollow';
  src: url('./assets/fonts/PokemonHollowNormal.eot');
  src: url('./assets/fonts/PokemonHollowNormal.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/PokemonHollowNormal.woff2') format('woff2'),
      url('./assets/fonts/PokemonHollowNormal.woff') format('woff'),
      url('./assets/fonts/PokemonHollowNormal.ttf') format('truetype'),
      url('./assets/fonts/PokemonHollowNormal.svg#PokemonHollowNormal') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.eot');
  src: url('./assets/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Roboto-Regular.woff2') format('woff2'),
      url('./assets/fonts/Roboto-Regular.woff') format('woff'),
      url('./assets/fonts/Roboto-Regular.ttf') format('truetype'),
      url('./assets/fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}